---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;
const id = url.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a
  class="rounded border flex flex-col justify-center items-center"
  href={`pokemons/${name}`}
>
  <img src={imageSrc} alt={name} />
  <span class="capitalize">{name}</span>
</a>
